.contact-form {
  background-color: #f8f9fa;
  border-left: 5px solid #0d6efd;
}

.form-icon {
  color: #0d6efd;
}

.glass-navbar {
  background: rgba(8, 8, 8, 0.584);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  margin: 15px;
}

.navbar .nav-link:hover {
  text-decoration: underline;
  /* color: #ea0808d4 !important; */
  transition: 0.3s;
}

.navbar-brand {
  color: #0e0f0f !important;
  transition: 0.3s;
  font-family: Edu NSW ACT Hand Pre, cursive;
  font-weight: 600;
}
h5{
      font-family: Edu NSW ACT Hand Pre, cursive;
      font-weight: 600;
}